.todoMainElement{
    margin: 5px 5px;
    color : rgb(166, 25, 67);

    text-align: left;
    text-indent: 10px;
    
    
}

.todoMainElement-now{
    text-align: left;
    text-indent: 10px;

    margin: 5px 5px;
    border-radius: 30px;
    color : rgb(255, 255, 255);
    background-color: rgb(139, 137, 133);
    box-shadow: 3px 3px 5px 0.5px gray;
}

.memoInput{
    text-indent: 20px;
    color :white;
    background-color: None;
}

.memoElement{
    text-indent: 30px;
    color :white;
    background-color: None;
}