.todoMainElement{
    margin: 5px 5px;
    color : rgb(255, 255, 255);

    text-align: left;
    text-indent: 10px;
    
    
}

.todoMainElement-now{
    text-align: left;
    text-indent: 10px;

    margin: 5px 5px;
    border-radius: 20px;
    color : rgb(178, 58, 58);
    background-color: transparent;
    box-shadow: 20px 20px 100px -3px rgb(196, 196, 196);
}

.memoInput{
    font-size: large;
    text-indent: 20px;
    color :white;
    background-color: None;
}

.memoElement{
    font-size:  large;
    text-indent: 30px;
    color :white;
    background-color: None;
}

.memoElement-now{
    text-indent: 30px;
    color :rgb(143, 166, 25);
    background-color: None;
}

.todoMemoInput{
    margin: 15px;
    width: 300px;
    height: 32px;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.todoMemoInput-memo{
    margin: 15px;
    width: 300px;
    height: 32px;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}